name: Build KudaGo with tests

on:
  workflow_dispatch:
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'oracle'
          cache: gradle

      # Grant permission to execute the gradlew script
      - name: Grant execute permission for gradlew
        working-directory: ./KudaGo
        run: chmod +x ./gradlew

      - name: Build with Gradle Wrapper
        working-directory: ./KudaGo
        run: ./gradlew build

      - id: jacoco
        uses: madrapps/jacoco-report@v1.6.1
        if: ( github.event_name != 'workflow_dispatch' )
        with:
          paths: ${{ github.workspace }}/build/reports/jacoco/test/index.html
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 70
          min-coverage-changed-files: 30
          title: Code Coverage
          update-comment: true

